# Ignore artifacts:
dist
build
coverage
node_modules
.prettierrc
.skip.config.json
components.json
eslint.config.js
pnpm-lock.yaml
pnpm-workspace.yaml
postcss.config.js
tests/
tsconfig.*
vite.config.ts
jest.config.js
playwright.config.ts
